.fa {
  font-family: FontAwesome, fontawesome-webfont;
}
Label {
  color: #fff;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
StackLayout Label {
  color: #000;
}
StackLayout.weather {
  background-image: url("~/assets/puente.jpeg");
  background-size: cover;
  height: 300;
  color: #fff;
}
StackLayout.glass Label {
  color: #fff;
}
StackLayout.weather>.glass {
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  margin: 0 0;
  width: 60%;
}
StackLayout.glass>.med {
  font-size: 48;
  font-weight: 500;
  margin-top: 16;
}
StackLayout.glass>.city {
  font-size: 18;
  font-weight: 400;
  margin-top: 3;
}
TabView {
  tab-text-color: #FFFFFF;
  selected-tab-text-color: #FFFFFF;
  android-selected-tab-text-color: #FFFFFF;
  border-bottom-color: #000;
  highlighted-color: #FFFFFF;
}
