<ContentView height="100%" width="100%" *ngIf="mapEnabled">
  <GridLayout rows="auto, *">
    <Mapbox row="1"
      accessToken="pk.eyJ1IjoibXJhcmMiLCJhIjoiY2pjbnFiZTMxMHhkbjJxcW5kNHVuaGp1YiJ9.RtuRticNcdEckpc6W0-BIQ"
      mapStyle="mapbox://styles/mrarc/cjcnqcben2fuw2rpr26vukux4"
      latitude="{{location.latitude}}"
      longitude="{{location.longitude}}"
      hideCompass="false"
      zoomLevel="12"
      showUserLocation="true"
      disableZoom="false"
      disableRotation="true"
      disableScroll="false"
      disableTilt="false"
      (mapReady)="onMapReady($event)">
  </Mapbox>
  <FAB (tap)="goCenter()" row="1" icon="res://cardinal" rippleColor="#f1f1f1" class="fab"></FAB>
  </GridLayout>
</ContentView>
<StackLayout class="page-content" *ngIf="!mapEnabled">
    <Label class="page-icon fa" [text]="'fa-map' | fonticon"></Label>
    <Label text="Mapa turistico"></Label>
    <Label [text]="this.hasConnectivity() ? 'No tienes conexión a internet para mostrar el mapa' : 'Permitenos usar tu ubicación para ofrecerte una experiencia de usuario completa'" textWrap="true"></Label>
    <Button class="btn btn-primary" [text]="this.hasConnectivity() ? 'Actualizar' : 'Permitir'" (tap)="this.hasConnectivity() ? showMapInternet() : allowLocation()"></Button>
</StackLayout>
