@import '/tns_modules/nativescript-theme-core/css/core.light.css';
@import '/assets/custom.css';
ActionBar {
  color: #fff;
  background-color: #009688;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.fa {
  font-family: FontAwesome, fontawesome-webfont;
}
Label {
  color: #000;
}
.btn-secondary {
  background-color: #43A047;
  color: #fff;
  border-color: #43A047;
}
