StackLayout.header {
  background-image: url("~/assets/room.jpg");
  background-size: cover;
  position: relative;
  height: auto;
  color: #fff;
}
StackLayout.header Label {
  color: #fff;
}
StackLayout.header>.glass {
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
}
StackLayout.thermostat {
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
}
